<IfModule mod_rewrite.c>
#Redirect to https
Options +MultiViews
RewriteEngine On

RewriteCond %{SERVER_PORT} 80


#RewriteRule ^(.*)$ https://***link***/$1 [R,L]

#Hide .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

#Disable .php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

RewriteRule ^file/?$ - [R=404,NC,L]
RewriteRule ^page/?$ - [R=404,NC,L]
RewriteRule ^attachment/([^/]+)/?$ - [R=404,NC,L]
RewriteRule ^attachment/?$ - [R=404,NC,L]

RewriteRule ^administrator/page/?$ - [R=404,NC,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

</IfModule>
